{% if total_ratings > 0 %}
<div class="sidebar-content">
  <h1>Customer Satisfaction</h1>
  <div class="satisfaction-meta">
      <span>{{ satisfied_count }}/{{ total_ratings }}</span> {{ phrase('portal.sidebar.satisfied_customers') }}
  </div>
</div>
<div class="happy-faces">
    {% for rating in ratings %}
        {% if rating['rating'] > 0 %}
            <span class="happy"></span>
        {% elseif rating['rating'] < 0 %}
            <span class="unhappy"></span>
        {% else %}
            <span class="so-and-so"></span>
        {% endif %}
    {% endfor %}
</div>
<hr>
{% endif %}
