html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #151517;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Pt Sans', Arial;
}

.avatar {
	position: relative;
	z-index: 10;
}

.h1 {
	font-size: 40px;
	margin: 75px 0 50px;
}

.desc {
	font-size: 18px;
	line-height: 32px;
	color: #999;
	font-family: arial;
}

.tentacles-left {
	position: absolute;
	left: 0;
	opacity: .5;
}

.tentacles-right {
	position: absolute;
	right: 0;
	opacity: .5;
	text-align: right;
}

#tentacle-right-1 {
	position: relative;
	top: 6px;
}


#tentacle-left-1 {
	position: relative;
	top: 46px;
	z-index: -1;
}

#tentacle-left-3 {
	position: relative;
	top: -46px;
	z-index: 1;
}

#tentacle-right-2 {
	position: relative;
	/*top: -46px;*/
	z-index: 1;
}

@media screen and (max-width: 1000px) {

	.tentacles-right, .tentacles-left {
		transform: scale(.75);
	}

	.tentacles-left {
		left: -55px;
	}

	.tentacles-right {
		right: -50px;
	}

}

@media screen and (max-width: 800px) {

	.tentacles-right, .tentacles-left {
		display: none;
	}

}

@media screen and (min-width: 1500px) {

	.tentacles-right, .tentacles-left {
		transform: scale(1.2);
	}

	.tentacles-left {
		left: 30px;
	}

	.tentacles-right {
		right: 50px;
	}

}
