{% extends 'Theme::layout.html.twig' %}

{% block body %}
    <p>This controller needs to be rewritten. Instead of maintaining dev.html.twig and the controller annotations
        separately, we should auto generate a docs page with all the up to date info for each tag.</p>
{% endblock %}
