<div class="agents-online">
    <h1>DeskPRO Agents <span class="text-tag">3 online</span></h1>

    <div>

        <ul>
            <li>
                <span class="agent-avatar agent-avatar-tiny" style="background: url(./img/avatar.png) no-repeat; background-size: cover"></span>
                <span class="agent">Jane Doe</span>
            </li>

            <li>
                <span class="agent-avatar agent-avatar-tiny" style="background: url(./img/avatar.png) no-repeat; background-size: cover"></span>
                <span class="agent">Dennis Schipper</span>
            </li>

            <li>
                <span class="agent-avatar agent-avatar-tiny" style="background: url(./img/avatar.png) no-repeat; background-size: cover"></span>
                <span class="agent">Collin Mochrie</span>
            </li>
        </ul>
    </div>
    <hr>
</div>
