<p>Our latest 20 customer ratings on resolved tickets. Lorel ipsum dolor sit amet.</p>

<div class="satisfaction-meta">
    <span>17/20</span> satisfied customers
</div>

<div class="happy-faces">
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="unhappy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="so-and-so"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
    <span class="unhappy"></span>
    <span class="happy"></span>
    <span class="happy"></span>
</div>
