{% extends 'Theme::layout.html.twig' %}
{% block inner_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>
    <section>
        <header class="section-header">
            <h1>{{ phrase('portal.tickets.guest_thank_you_title') }}</h1>
        </header>

        <p>{{ phrase('portal.tickets.guest_thank_you_desc') }}</p>
    </section>
{% endblock inner_content %}