{% extends 'Theme::layout.html.twig' %}

{% block inner_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>

    <div>
        <header class="section-header">
            <h1>{{ phrase('portal.account.set-password-sent-title') }}</h1>
        </header>

        <p>{{ phrase('portal.account.registration-set-password') }}</p>

        <p>{{ phrase('portal.account.set-password-sent-to') }}: <strong>{{ email }}</strong></p>
    </div>
{% endblock inner_content %}
