
    <article class="panel-tiny front-page-news-tiny">
      <div class="sidebar-content">
        <h1>{{ phrase('portal.sidebar.news_title') }}</h1>
        {% show section news_list_simple %}
      </div>
    </article>
    <hr>
