{% extends 'Theme::layout.html.twig' %}

{% block page_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>
    <p>{{ phrase('portal.account.set-password-invalid-desc') }}</p>

    <p><a href="{{ path('portal_set_password') }}">{{ phrase('portal.account.set-password-click-here') }}</a></p>
{% endblock page_content %}
