{% if brand_setting('user.kb_subscriptions') %}
    <a href="{{ path('portal_kb_article_root_category_toggle_subscription') }}" class="post-link">
      {% if is_subscribed %}
        {{ phrase('portal.general.btn-unsubscribe') }}
      {% else %}
          {{ phrase('portal.general.btn-subscribe') }}
      {% endif %}
    </a>
{% endif %}
