{% extends 'Theme::layout.html.twig' %}
{% import 'Theme:Portal:User/macros.html.twig' as macros %}

{% block inner_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>
    <article class="feedback main-feedback" id="feedback_page">
        {{  macros.lockout_notice(phrase('portal.account.feedback-lockout'), lockout, lockout_time) }}
        <header class="large-title">
            <div class="header-buttons">
                {% show feedback_root_subscription_link %}
            </div>
            <h1>{{ phrase('portal.feedback.section-title') }}</h1>
            <p>{{ phrase('portal.feedback.section-desc') }}</p>
        </header>

        <article class="feedback-form-interactive">
            {% if rerendering_saved %}
                <strong>{{ phrase('portal.general.rerender-form') }}</strong>
            {% endif %}
            {% show feedback_form %}
        </article>

       <article class="feedback-filter-interactive  as-no-dpui">
           {% show feedback_filter_controls %}
           <div class="paged-results">
               {% show feedback_list_detail %}
           </div>
       </article>
    </article>
{% endblock inner_content %}
