<div class="feedback-item-controls" ref="feedbackItemControls">
    <a {% if (not item.isClosed) %}href="{{  portal_path(item, 'vote_up') }}"{% endif %}
       class="i-agree {% if user_up_voted(item) %} agreed{% endif %}{% if item.isClosed %} closed{% endif %}{% if not item.can_rate %} rate_forbidden{% endif %}">
        <i class="fa fa-thumbs-up"></i>
        <div>
            {% if item.isClosed %}
                {{ phrase('portal.feedback.btn-closed') }}
            {% else %}
                {{ phrase('portal.feedback.btn-vote') }}
            {% endif %}
        </div>
        <span class="counter-wrapper">
          <span class="counter">{{ item.total_rating }}</span>
        </span>
    </a>
</div>
