.v3 {
	background-image: url(./soldier.png);
	background-repeat:no-repeat;
	background-position: 180px -4px;
}

.choice form {
	display: inline-block;
}

.choice {
	font-family: 'pt sans', arial;
	font-size: 16px;
	line-height: 26px;
	margin-top: 24px;
	font-weight: bold;
}

.choice-single {
	cursor: pointer;
	position: relative;
	padding: 10px 15px;
	z-index: 1;
	transition: box-shadow .2s ease-in-out, background .2s ease-in-out, z-index .0s ease-in-out;
}

.choice-active {
	z-index: 2;
	transition: box-shadow .05s ease-in-out, background .05s ease-in-out, z-index .0s ease-in-out;
}

.choice label:before {
	content:'';
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 5px;
	margin-right: 8px;
}

.choice-yes {
	border-radius: 10px 10px 0 0;
	box-shadow: inset 0 0 0 2px #e5e5e5;
}

.choice-nay {
	border-radius: 0 0 10px 10px;
	top: -2px;
	box-shadow: inset 0 0 0 2px #e5e5e5;
}

.choice-yes.choice-active {
	background: #fac704;
	box-shadow: inset 0 0 0 2px #e1b304;
}

.choice-nay.choice-active {
	background: rgba(0,0,0,.05);
}

.choice-single.choice-active label:before {
	background-image: url(./active.png);
}

.choice-single label:before {
	background-image: url(./inactive.png);
}

.linky {
	margin-top: 16px;
	font-family: 'pt sans', arial;
	font-size: 16px;
	line-height: 24px;
	color: #999;
}

.linky a {
	margin-top: 16px;
	color: #245fd9;
}

.linky a:hover {
	color: red;
}

.linky--hidden {
	opacity: 0;
	height: 0;
	margin-top: 0px;
}

.bCrossconversion__mPage_Point-blank {
  background: #351013;
}
.bCrossconversion__mPage_Point-blank.bCrossconversion__mState_preloading {
  background: none;
}
.bGamePageHeaderLogo__mGame_Point-blank {
  left: 50px;
}
.bPageLayout.cPoint-blank {
  background: #000000;
}
.bPageLayout.cPoint-blank .bPlayLayout__eBackground {
  top: 0px;
  background-image: url('./bg_pointblank_spring2016.jpg');
}
.bPageLayout.cPoint-blank .bPlayLayout__eLogo {
  z-index: 5;
  top: 20px;
  left: 0px;
  right: 0px;
  width: 11%;
  height: 84%;
  margin: 0px auto;
  background-image: url('//st3-ru.4game.com/-/3958712563/pointblank/play/logo_pointblank.png');
  background-size: 100%;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}
.bPageLayout.cPoint-blank .bPlayLayout__eMenu {
  background-color: rgba(0, 0, 0, 0.35);
}
.bPageLayout.cPoint-blank .bPlayLayout__eMenuSections {
  width: 45%;
}
.bPageLayout.cPoint-blank .bPlayLayout__eMenuLinks {
  width: 55%;
}
.bPageLayout.cPoint-blank .bFooter a {
  color: #ffffff;
}
.bPageLayout.cPoint-blank .bFooter a:hover {
  color: #ff0000;
  border-color: #ff0000;
}
.bPageLayout.cPoint-blank .bPseudoLink {
  color: #ffffff;
}
.bPageLayout.cPoint-blank .bPageFooterLang__ePopupShowLink {
  border-bottom: 1px dashed #ffffff;
}
.bPageLayout.cPoint-blank .bPseudoLink:hover {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.bPageLayout.cPoint-blank .bPseudoLink__mState_active {
  border: none;
  color: #bebebe;
  font-weight: bold;
}
.bPageLayout.cPoint-blank .bPseudoLink__mState_active:hover {
  color: #bebebe !important;
}
.bPageLayout.cPoint-blank .bGamePage,
.bPageLayout.cPoint-blank .bShopBlock__eShopItem {
  color: #bebebe;
}
.bPageLayout.cPoint-blank .bFooter,
.bPageLayout.cPoint-blank .bGamePageNewsBlockTwitterAccount,
.bPageLayout.cPoint-blank .bBottomContent__eMainColumn {
  color: #707070;
}
.bPageLayout.cPoint-blank .bShopBlock__ePrice {
  border-color: rgba(112, 112, 112, 0.5);
  color: #707070;
}
.bPageLayout.cPoint-blank .bPageFooterList__eHeaderText {
  border-bottom: 1px dashed;
}
.bPageLayout.cPoint-blank .bPageFooterList__eHeaderText {
  color: #ffffff;
}
.bPageLayout.cPoint-blank .bPageFooterList__eHeaderText:hover,
.bPageLayout.cPoint-blank .bPageFooterList__eHeaderText__mState_Active {
  color: #ff0000;
}
.bPageLayout.cPoint-blank .bPageFooterList__eHeaderText__mState_Active:hover {
  color: #ffffff;
}
.bPageLayout.cPoint-blank .footer-4game__disclaimer {
  max-width: 690px;
  font-size: 12px;
  color: #706d6d;
  text-align: center;
  line-height: 16px;
}
.bPageLayout.cPoint-blank .pb-daily-events {
  margin: -30px;
}
.bPageLayout.cPoint-blank .pb-daily-events__title {
  font-size: 24px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
  padding: 30px 30px 0;
  margin-bottom: -60px;
}
.bPageLayout.cPoint-blank .pb-daily-events__title a:link {
  color: #000;
}
.bPageLayout.cPoint-blank .pb-daily-events__title a:hover {
  color: #f00;
}
.bPageLayout.cPoint-blank .pb-daily-events daily-event-list {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 30px 0px;
  min-height: 275px;
}
.bPageLayout.cPoint-blank game-achievements {
  display: block;
  position: relative;
  margin: 0 -30px -30px -30px;
  z-index: 6000;
  min-height: 312px;
}
.bPageLayout.cPoint-blank .footer-4game {
  z-index: 1;
  padding: 98px 27px 23px;
}
